apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-minikube
  namespace: hello
  labels:
    app: hello-minikube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-minikube        # ← EXACTEMENT la même clé/valeur que le Live
  template:
    metadata:
      labels:
        app: hello-minikube      # ← doit matcher le selector
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
