apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: wordpress
  labels:
    app: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      securityContext:
        fsGroup: 999

      containers:
       env:
        name: MARIADB_DATABASE
        valueFrom:
          secretKeyRef:
            name: wp-secrets
            key: MYSQL_DATABASE
        name: MARIADB_USER
        valueFrom:
          secretKeyRef:
            name: wp-secrets
            key: MYSQL_USER
        name: MARIADB_PASSWORD
        valueFrom:
          secretKeyRef:
            name: wp-secrets
            key: MYSQL_PASSWORD
        name: MARIADB_ROOT_PASSWORD
        valueFrom:
          secretKeyRef:
            name: wp-secrets
            key: MYSQL_ROOT_PASSWORD

    volumeMounts:
        name: db-data
        mountPath: /var/lib/mysql

              
          startupProbe:
            tcpSocket:
              port: 3306
            periodSeconds: 5
            failureThreshold: 60
              
          readinessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 20
            periodSeconds: 5
            failureThreshold: 6
            timeoutSeconds: 2


            
          livenessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 120
            periodSeconds: 10
            failureThreshold: 6
            timeoutSeconds: 2

            
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: mariadb-pvc
