apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: wordpress
  labels:
    app: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      # Donne l’accès au volume au groupe mysql (999)
      securityContext:
        fsGroup: 999

      containers:
        - name: mariadb
          image: mariadb:11
          ports:
            - containerPort: 3306

          # Variables explicites attendues par l'image MariaDB
          env:
            - name: MARIADB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: wp-secrets
                  key: MYSQL_DATABASE
            - name: MARIADB_USER
              valueFrom:
                secretKeyRef:
                  name: wp-secrets
                  key: MYSQL_USER
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wp-secrets
                  key: MYSQL_PASSWORD
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wp-secrets
                  key: MYSQL_ROOT_PASSWORD

          volumeMounts:
            - name: db-data
              mountPath: /var/lib/mysql

          # Laisse le temps à l'initialisation du datadir
          startupProbe:
            tcpSocket:
              port: 3306
            periodSeconds: 5
            failureThreshold: 60   # ~5 min

          # Prêt quand 3306 écoute
          readinessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 20
            periodSeconds: 5
            failureThreshold: 6
            timeoutSeconds: 2

          # Ne tue pas trop tôt
          livenessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 120
            periodSeconds: 10
            failureThreshold: 6
            timeoutSeconds: 2

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: mariadb-pvc
