apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: wordpress
  labels:
    app: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
            resources:
              requests:
                cpu: "100m"
                memory: "256Mi"
              limits:
                cpu: "500m"
                memory: "512Mi"

          image: mariadb:11
          ports:
            - containerPort: 3306
          envFrom:
            - secretRef:
                name: wp-secrets
          volumeMounts:
            - name: db-data
              mountPath: /var/lib/mysql
          readinessProbe:
            tcpSocket: { port: 3306 }
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket: { port: 3306 }
            initialDelaySeconds: 20
            periodSeconds: 10
      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: mariadb-pvc
