apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: wordpress
  labels:
    app: wordpress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
        - name: wordpress
          image: wordpress:6.6-apache
          ports:
            - containerPort: 80
          env:
            - name: WORDPRESS_DB_HOST
              value: mariadb.wordpress.svc.cluster.local:3306
            - name: WORDPRESS_DB_NAME
              valueFrom: { secretKeyRef: { name: wp-secrets, key: MYSQL_DATABASE } }
            - name: WORDPRESS_DB_USER
              valueFrom: { secretKeyRef: { name: wp-secrets, key: MYSQL_USER } }
            - name: WORDPRESS_DB_PASSWORD
              valueFrom: { secretKeyRef: { name: wp-secrets, key: MYSQL_PASSWORD } }
          volumeMounts:
            - name: wp-data
              mountPath: /var/www/html
          readinessProbe:
            httpGet: { path: /wp-admin/install.php, port: 80 }
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet: { path: /, port: 80 }
            initialDelaySeconds: 40
            periodSeconds: 10
      volumes:
        - name: wp-data
          persistentVolumeClaim:
            claimName: wordpress-pvc
